Gemfile.lock
lib/isomorfeus_ferret_ext.so
misc/ferret/.deps
misc/ferret_vs_lucene/*_index
misc/ferret_vs_lucene/*.class
parser/frt_q_parser.c
test/temp
test/testdir/*
test/threading/index
tmp
*.o
*.gem
.vscode
