Gemfile.lock
lib/isomorfeus_ferret_ext.so
misc/ferret/.deps
misc/ferret_vs_others/*_index
misc/ferret_vs_others/*.class
misc/ferret_vs_others/harvard_corpus/*.jsonl
parser/frt_q_parser.c
test/temp
test/testdir/*
tmp
*.o
*.gem
.vscode
ferret.pdf
