Gemfile.lock
lib/isomorfeus_ferret_ext.so
misc/ferret/.deps
misc/ferret_vs_lucene/*_index
misc/ferret_vs_lucene/*.class
misc/ferret_vs_lucene/harvard_corpus/*.jsonl
misc/ferret_vs_milli/*.json
misc/ferret_vs_milli/*.gz
misc/ferret_vs_milli/*.csv
misc/ferret_vs_milli/*_index
parser/frt_q_parser.c
test/temp
test/testdir/*
tmp
*.o
*.gem
.vscode
ferret.pdf
